<h2><%= @recipe.nome %></h2>
<ul id="details">
<div class="row">
  <div class="col-md-5">
  <li>
    <h4>Autore: 
    <%= @recipe.user.name %> <%= @recipe.user.cognome%></h4>
  </li>
  <li>
    <h4>Nome:
    <%= @recipe.nome %></h4>
  </li>
  <li>
    <h4>Categoria:
    <%= @recipe.category.name %></h4>
  </li>
  <li>
    <h4>Descrizione:
    <%= @recipe.descrizione %></h4>
  </li>
  <li>
    <h4>Ingredienti:
    <%= @recipe.link %></h4>
  </li>
  <li>
    <h4>Media voti:
    <%= @average_review %> / 5</h4>
  </li>
  </div>
  <div class="col-md-2">
    <%= image_tag @recipe.immagine.url(:medium),class:'img'  %>
  </div>
  </div>
</ul>
<%if user_signed_in?%>
 <% if can? :create,Review%>  
  <%= link_to "Aggiungi un voto",new_recipe_review_path(@recipe)%><br>
 <%end%> 
 <%if @recipe.user_id == current_user.id%>
  <%= link_to "Modifica ricetta", edit_recipe_path(@recipe)%><br>
  <%=link_to "Elimina ricetta", recipe_path(@recipe), :method => :delete, data: { confirm: "Sei sicuro?" }%><br>
 <%end%>
 <!--<%= link_to "Torna alle ricette" ,:back %>-->
 <%if @recipe.category.name=="Colazione"%>
 <a href="/ricette?category=Colazione">Torna alle ricette</a>
 <%end%>
  <%if @recipe.category.name=="Pranzo"%>
 <a href="/ricette?category=Pranzo">Torna alle ricette</a>
 <%end%>
  <%if @recipe.category.name=="Cena"%>
 <a href="/ricette?category=Cena">Torna alle ricette</a>
 <%end%>
<%end%>