
<h2>Dettagli per la ricetta: <%= @recipe.nome %></h2>
<ul id="details">
<div class="row">
  <div class="col-md-5">
  <li>
    Nome:
    <%= @recipe.nome %>
  </li>
  <li>
    Categoria:
    <%= @recipe.category.name %>
  </li>
  <li>
    Descrizione:
    <%= @recipe.descrizione %>
  </li>
  <li>
    Link:
    <%= @recipe.link %>

  </li>
  </div>
  <div class="col-md-2">  
    <%= image_tag @recipe.immagine.url(:medium),class:'img'  %>
  </div>
  </div



</ul>
<%if user_signed_in?%>
 <%if @recipe.user_id == current_user.id%>
  <%= link_to "Modifica ricetta", edit_recipe_path(@recipe)%><br>
  <%=link_to "Elimina ricetta", recipe_path(@recipe), :method => :delete, data: { confirm: "Sei sicuro?" }%><br>
 <%end%>
<%end%>
<%= link_to "Torna alla lista delle ricette" ,recipes_path %>






