<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" rel="stylesheet">
<h1 style="font-family: 'Rowdies', cursive;  letter-spacing: 1px;"><%= @recipe.nome %></h1><br>
<div class="row" style="font-family: 'Merriweather', serif;">
  <div class="col-md-4">
   <%= image_tag @recipe.immagine.url(:medium),class:'imgrecipe'  %>
  </div>
  <div class="col-md-8 cornice">
    <h4><b>Autore:</b> <%= @recipe.user.name %> <%= @recipe.user.cognome%></h4>
    <h4><b>Nome:</b> <%= @recipe.nome %></h4>
    <h4><b>Categoria:</b> <%= @recipe.category.name %></h4>
    <h4><b>Ingredienti:</b> <%= @recipe.link %></h4>
    <h4 style="word-wrap: break-word;"><b>Descrizione:</b> <%= @recipe.descrizione %></h4>
    <h4><b>Media voti:</b> <%= @average_review %> / 5</h4>
  </div>
</div>
<br>
<%if user_signed_in?%>
 <% if can? :create,Review%>  
  <%= link_to "Aggiungi un voto",new_recipe_review_path(@recipe), class: "btn btn-info"%>
 <%end%> 
 <%if @recipe.user_id == current_user.id%>
  <%= link_to "Modifica ricetta",edit_recipe_path(@recipe), class: "btn btn-info"%>
  <%= link_to "Elimina ricetta",recipe_path(@recipe), :method => :delete, data: { confirm: "Sei sicuro?" }, class: "btn btn-danger"%>
 <%end%>
 <!--<%= link_to "Torna alle ricette" ,:back %>-->
 <%if @recipe.category.name=="Colazione"%>
 <a type="button" class="btn btn-info" href="/ricette?category=Colazione">Torna alle ricette</a>
 <%end%>
  <%if @recipe.category.name=="Pranzo"%>
 <a type="button" class="btn btn-info" href="/ricette?category=Pranzo">Torna alle ricette</a>
 <%end%>
  <%if @recipe.category.name=="Cena"%>
 <a type="button" class="btn btn-info" href="/ricette?category=Cena">Torna alle ricette</a>
 <%end%>
<%end%>