
<h2><%= @recipe.nome %></h2>
<ul id="details">
<div class="row">
  <div class="col-md-5">
  <li>
    Autore:
    <%= @recipe.user.name %> <%= @recipe.user.cognome%>
  </li>
  <li>
    Nome:
    <%= @recipe.nome %>
  </li>
  <li>
    Categoria:
    <%= @recipe.category.name %>
  </li>
  <li>
    Descrizione:
    <%= @recipe.descrizione %>
  </li>
  <li>
    Ingredienti:
    <%= @recipe.link %>

  </li>
  </div>
  <div class="col-md-2">  
    <%= image_tag @recipe.immagine.url(:medium),class:'img'  %>
  </div>
  </div



</ul>
<%if user_signed_in?%>
 <%if @recipe.user_id == current_user.id%>
  <%= link_to "Modifica ricetta", edit_recipe_path(@recipe)%><br>
  <%=link_to "Elimina ricetta", recipe_path(@recipe), :method => :delete, data: { confirm: "Sei sicuro?" }%><br>
 <%end%>
 <!--<%= link_to "Torna alle ricette" ,:back %>-->
 <%if @recipe.category.name=="Colazione"%>
 <a href="/ricette?category=Colazione">Torna alle ricette</a>
 <%end%>
  <%if @recipe.category.name=="Pranzo"%>
 <a href="/ricette?category=Pranzo">Torna alle ricette</a>
 <%end%>
  <%if @recipe.category.name=="Cena"%>
 <a href="/ricette?category=Cena">Torna alle ricette</a>
 <%end%>
<%end%>





