
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap" rel="stylesheet">

<h1  style="font-family: 'Rowdies', cursive;  letter-spacing: 1px;">  Classifica dei cuochi</h1>
<h4 style="font-family: 'Merriweather', serif;">Tale classifica viene stabilita in base alla media dei voti ottenuti dalle ricette di ogni cuoco!</h4>
<div class="row">
    <%@count=0
      @cuochis.each do |cuoco|
      @recipes = cuoco.recipes
      @numeroricette=@recipes.count
    %>
      <div class="col-md-3">
      <div class="panel panel-default panelcuochi">
       <div class="panel-body" align="center">
        <% if cuoco.avatar? %>
          <%= image_tag cuoco.avatar.url(:medium) , class: "recipe"%>
        <% elsif cuoco.image? %>
          <%= image_tag "http://graph.facebook.com/#{cuoco.uid}/picture?type=large" , class: "recipe"%>
        <%else%>
          <h3 style="font-family: 'Merriweather', serif;">Foto non disponibile!</h3>  
        <% end%>
       </div>
       <div class="panel-footer" align="center">
        <%= @count+=1%>° <%= cuoco.name%> <%=cuoco.cognome%><br>
        Numero di ricette: <%=@numeroricette%><br>
        Media voti: <%=cuoco.avg.round(1)%> / 5<br>
       </div>
      </div>
    </div>  
<% end %>
</div>
<%= link_to "Torna alla home",root_path, class: "btn btn-info"%>
