
<!-- Fixed navbar -->
    <nav class="navbar  navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= image_tag("logo.png", class: "img-responsive", id: "navbar-logo") %>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            

            <% if user_signed_in? %>
            <% if current_user.categoria==2 %>
            <li><%= link_to "Classifica Cuoco", classifica_path%></li>
            <%end%>
            <li><%= link_to current_user.email,edit_user_registration_path  %> </li>
            <li>
            <% if current_user.avatar? %>
      <%= image_tag current_user.avatar.url(:thumb) , :style => " width: 50px; height: 50px;border-radius: 50%;"%>

    <% elsif current_user.image? %>
      <%= image_tag current_user.image , :style => "width: 50px; height: 50px;border-radius: 50%;"%>
    <% else %>
      
    <% end %> </li>
            <%#            SISETMARE IMMAGINE ACCOUNT
            <li> <%= image_tag(current_user.image,alt: "MyInc Logo")%> <%#>   </li> %>

 <!--  ALTERNATIVA AL EMAIL
 <li><%= link_to 'Modifica profilo', edit_user_registration_path, :class => 'navbar-link' %> </li>   -->
 
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
<% else %>
            <li><%= link_to "Regolamento", regolamento_path%></li>
 <li> <%= link_to "Registrazione", new_user_registration_path, :class => 'navbar-link'  %></li>
 <li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
<% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>