<!DOCTYPE html>
<html>
  <head>
    <title>Facecook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>
      <meta charset="UTF-8">
 <meta name=viewport content="width=device-width, initial-scale=1">



  </head>
<script type="text/javascript">
 $(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 4000);
 })
</script>

  <body>

  <%# Partials visibile con il render %>
  <% unless request.path == sceglicategoria_path%>
      <%= render 'layouts/header' %>
      <% end %>

<div class="container fluid bodyContent">
<%# yield inserisce i contenuti di ogni pagina nel layout del sito. %>
<div id="flash" style="margin-top:12px;">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> fade in">
      <%= value %>
    </div>
  <% end %>
</div>
    <%= yield %>
      <% unless request.path == sceglicategoria_path%>
    <%= render 'layouts/footer' %>
    <% end %>
</div>



  </body>
</html>
