<!DOCTYPE html>
<html>
  <head>
    <title>Facecook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="navbar myNavbar navbar-dark bg-dark navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" datatoggle="collapse"
data-target="#collapibleMenu">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="#" class="navbar-brand">Facecook</a>
</div>
<div class="collapse navbar-collapse" id="collapibleMenu">
<ul class="nav navbar-nav navbar-right">
<li><a href="#">About us</a></li>
<li><a href="#">Contact us</a></li>
</ul>
<ul class="nav navbar-nav navbar-left">
<li><a href="#">Classifica Cuoco</a></li>
<li><a href="#">Regolamento</a></li>
</ul>
</div>
</div>
</div>

<div class="container bodyContent">
<%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</div>


  </body>
</html>
