




<!-- FontAwesome -->
  <link 
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  <body class="newpassword   ">

    <div class=" prova  ">
<h2 style="font-family: 'Rowdies', cursive; text-shadow: 1px 1px #b4b4b4; letter-spacing: 1px;">Password dimenticata?</h2>
<br>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br />

  <div class="actions">
    <%= f.submit "Inviami le istruzioni per la nuova password" %>
  </div>
<% end %>


 </div>
</body>