

<script type="text/javascript">

    $('document').ready(function(){
        $("#cuocorior").hide();
        $("#appassionato").hide();
        $("#image").hide();
        $("#categoria").hide();

    });

    $(function() {
          $("#1").click( function()
               {
                    var $imgvisible = $('.cuoco img:visible');
                    alert("Hai selezionato "+$imgvisible.attr('title'));
                    $('#cuocorior').show();

                    $('#user_categoria').val(1);
                    $('#btn_id').attr('disabled', false);

               }
          );

          $("#2").click( function()
               {
                    var $imgvisible = $('.appassionato img:visible');
                    alert("Hai selezionato "+$imgvisible.attr('title'));
                    $('#appassionato').show();
                    $('#user_categoria').val(2);
                    $('#btn_id').attr('disabled', false);

               }
          );




    });


</script>

<!-- FontAwesome -->
    
  <link  href="https://fonts.googleapis.com/css2?family=Chilanka&family=Sriracha&display=swap" rel="stylesheet">


        <div class="row">
        
   <div class="col-md-10 col-md-offset-1">
   <h3 style="font-family: 'Chilanka', cursive;"> <b> Ci siamo quasi... </b></h3>
        <h4 style="font-family: 'Sriracha', cursive;"> <b> A quale categoria appartieni? </b></h4>
       <div class="row prova">
        <div class="col-md-5 col-md-offset-1 cuoco">
          <div class="card">
              <div class="card-header cuoco"><%= image_tag("cuoco.jpg", :title => "cuoco", :id => "1", :style => "display: block; margin: 0px auto; width: 130px; height: 130px; cursor: pointer;border-radius: 50%;") %></div>
              <div class="card-body">
                <h4 class="card-title">Cuoco</h4>
              </div>
            </div>
        </div>
        <div class="col-md-4 appassionato">
           
           <div class="card">
              <div class="card-header appassionato"><%= image_tag("cuoca.png", :title => "appassionato", :id => "2", :style => "display: block; margin: 0px auto; width: 130px; height: 130px; cursor: pointer;border-radius: 50%; border-radius: 50%;" )%></div>

              <div class="card-body">
                <h4 class="card-title">Appassionato</h4>
              </div>
            </div>
        </div>
           

       </div>
   </div>
</div>
        <%= form_for @user, url: profile_path(current_user) do |f| %>
<div class="field" id = "image"></div>


              <div class="field" id="categoria">
                <%= f.label :categoria %><br />
                <%= f.number_field :categoria, autofocus: true, class: 'form-control' %>
              </div>

 <div class="row" style="padding-top:10px;">
   <div class="col-md-10 col-md-offset-1">
       <div class="row">
           <div class="col-md-4 col-md-offset-1"></div>
           <div class="col-md-3"> 
                <div class=" actions">
                    <%= f.submit "Continua" , :class=> "btn btn-lg btn-success",id: "btn_id",
  disabled: true   %>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>



              

<%end%>





  
 

