<!-- FontAwesome -->
  <link 
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  <body class="login   ">

    <div class=" prova  ">

        <h1 style="font-family: 'Rowdies', cursive; text-shadow: 1px 1px #b4b4b4; letter-spacing: 1px;">Login</h1>
     
          <p>
            <a class="btn btn-social " href="<%= user_facebook_omniauth_authorize_path %>" style='font-size:17px'>
            <i class="fab fa-facebook-square fa-2x"></i> Accedi con Facebook</a>
        </p>

          <p class="oppure"> <span> oppure </span> </p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" style="padding-top:20px;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>


  <div class="actions">
  
    <%= f.submit :Entra, class: 'btn btn-success' %>
    <br />
    <br />
    <%= render "devise/shared/links" %>
  </div>
<% end %>

 </div>
</body>